{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0 ie=edge" http-equiv="X-UA-Compatible">
  <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo+2">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"/>
  <title>CS Learning & Tutorial</title>
</head>

<!-- WEBPAGE HEADER -->
<body id="home">
<div class="header navbar-fixed">
  <nav class="nav-wraper black" role="navigation" style="height:70px;">
    <div class="nav-wrapper">
      <a id="logo-container" href="{% url 'homepage' %}" class="brand-logo logo">
        <i class="material-icons">code</i> CS Learning & Tutorial
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
            <i class="fa fa-search search-icon" aria-hidden="true"></i>
        </li>
        <li>
            <form action="/search/" method="get">
              <input class="search-input" type="text" name="q" placeholder="Search">
            </form>
        </li>
        <li class="waves-effect"><a href="#home" class="waves-effect waves-light">Home</a></li>
        <li class="waves-effect"><a href="#values" class="waves-effect waves-light">Values</a></li>
        <li class="waves-effect"><a href="#courses" class="waves-effect waves-light" >Courses</a></li>
        <li class="waves-effect"><a href="#about" class="waves-effect waves-light" >About</a></li>
      </ul>
      <ul id="nav-mobile" class="sidenav">
        <li><a class="waves-effect" href="#home">Home</a></li>
        <li><a class="waves-effect" href="#values">Values</a></li>
        <li><a class="waves-effect" href="#courses">Course</a></li>
        <li><a class="waves-effect" href="#about">About</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>

 <!-- Section: Slider -->
<section class="slider">
  <ul class="slides">
    <li>
      <img class="myimage" src="../../../static/img/CS picture 1.jpg" />
      <!-- random image -->
      <div class="caption center-align">
        <h1>Welcome to CS Learning & Tutorial</h1>
        <h5 class="light grey-text text-lighten-3">The perfect course for all of you!</h5>    
      </div>
    </li>
    <li>
      <img class="myimage" src="../../../static/img/CS picture 2.jpg" />
      <!-- random image -->
      <div class="caption left-align">
        <h3>New Year New Course !</h3>
        <h5 class="light grey-text text-lighten-3">Introduction to Python </h5>
        <a href="general/1" class="white black-text waves-effect waves-light btn btn-large">Click Here</a>
      </div>
    </li>
    <li>
      <img class="myimage" src="../../../static/img/CS picture 3.jpg" />
      <!-- random image -->
      <div class="caption right-align">
        <h3>Data Structure & Algorithm</h3>
        <h5 class="light grey-text text-lighten-3">Reveal all the secret of learning !</h5>
        <a href="general/2" class="white black-text waves-effect waves-light btn btn-large">Click Here</a>
      </div>
    </li>
    <li>
      <img class="myimage" src="../../../static/img/slider1.jpg" />
      <!-- random image -->
      <div class="caption right-align">
        <h3>Web & Development</h3>
        <h5 class="light grey-text text-lighten-3">Coming Soon!</h5>
        <a href="general/3" class="white black-text waves-effect waves-light btn btn-large">Click Here</a>
      </div>
    </li>
    <li>
      <img class="myimage" src="../../../static/img/computer theory.jpg" />
      <!-- random image -->
      <div class="caption right-align">
        <h3>Computer Theory</h3>
        <h5 class="light grey-text text-lighten-3">Coming Soon!</h5>
        <a href="general/4" class="white black-text waves-effect waves-light btn btn-large">Click Here</a>
      </div>
    </li>
  </ul>
</section>

<!-- Side bar content -->
<div id="wrapper">
    <div class="row">
        <div class="container">
            <ul id="slide-out" class="sidenav">
                <li>
                <a href="#" class="btn-floating btn-large waves-effect waves-light sidenav-close right-align white" style="margin-left:20px;"><i class="small material-icons" style="color:#ff7043; margin-left:16px; vertical-align: middle; margin-top: 3px;">close</i></a>
                </li>
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">
                            <i class="large material-icons" style="color:white;">desktop_windows</i>
                            <a class="waves-effect">
                              <span style="font-size:22px; color: white;" id="side"><b>Tutorials</b></span>
                            </a>
                            <a href="#!"><i class="small material-icons right" style="color: white;">keyboard_arrow_down</i></a>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                            {% for course in courses %}
                            <li><a class="waves-effect" href="{% url 'index' course.id %}" style="color:white;">{{ course.title }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <i class="large material-icons" style="color:white;">layers</i>
                            <a class="waves-effect">
                              <span style="font-size:22px; color: white;" id="side"><b>Exercises</b></span>
                            </a>
                            <a href="#!"><i class="small material-icons right" style="color:white;">keyboard_arrow_down</i></a>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                            {% for course in courses %}
                            <li><a class="waves-effect" href="{% url 'exercise' course.id %}" style="color:white;"> {{ course.title }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <i class="large material-icons" style="color:white;">library_books</i>
                            <a class="waves-effect">
                              <span style="font-size:22px; color: white;" id="side"><b>References</b></span>
                            </a>
                            <a href="#!"><i class="small material-icons right" style="color:white;">keyboard_arrow_down</i></a>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                            {% for course in courses %}
                            <li><a class="waves-effect" href="{% url 'reference' course.id %}" style="color:white;"> {{ course.title }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </ul>
            <a href="#" data-target="slide-out" class="waves-effect waves-light btn-large sidenav-trigger red" ><i id="redbutton" class="material-icons left">menu</i>Menu out the <br></a>
        </div>
    </div>
</div>

<!-- Section: Service -->
<div id="values" class="container scrollspy">
    <div class="section">
    <!-- Icon Section -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center black-text">
          <i class="material-icons">person</i>
          </h2>
          <h5 class="center" style="text-align: center;">Learn By Yourself</h5>
          <p class="light">
            Student will be able to learn programming by him/herself
            without being assisted by teacher. More than that, there is no time limitation.
            So students can access the learning material whenever you want. 
          </p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center black-text">
          <i class="material-icons">language</i>
          </h2>
          <h5 class="center">Based on the Most Updated Material</h5>
          <p class="light">
            Our Team has been cooperating with ACM & IEEE since 2015. As a result,
            we got the permission to use their curriculum for all the programming 
            module. 
          </p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center black-text">
          <i class="material-icons">import_contacts</i>
          </h2>
          <h5 class="center">Easy to Understand</h5>
          <p class="light">
            A lot of people consider programming as something complex and difficult to 
            comprehend. We sort and arrange our material that suits to people in various levels.
            Let's soak up in the coding world with the most fun and challlenging way!
          </p>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
</div>

<!--Four Buttons-->
<section id="courses" class="section section-blog scrollspy">
  <h4 class="center">Choose Your Favourite !</h4>
  <h3 class="center"><i class="medium material-icons" style="vertical-align: middle;">chevron_left</i>Courses<i class="medium material-icons" style="vertical-align: middle;">chevron_right</i></h3>
  <div class="row">
    <div class="col s12 m6 l3">
      <div class="card small">
        <div class="card-image">
          <img src="../../../static/img/1.jpeg" />
          <span class="card-title"><a href="/general/1" class="left-align" style="color:white;">Introduction to Python</a></span>
        </div>
        <div class="card-content">
          <p>
            Python is an interpreted, object-oriented programming language, 
            that has gained popularity because of its clear syntax and readability. 
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card small">
        <div class="card-image">
          <img src="../../../static/img/CS picture 3.jpg" />
          <span class="card-title"><a href="/general/2" class="left-align" style="color:white;">Data Structure & Algorithm</a></span>
        </div>
        <div class="card-content">
          <p>
            Data Structure is a way of collecting and organising data in such a way that 
            we can perform operations on these data in an effective way. 
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card small">
        <div class="card-image">
          <img src="../../../static/img/slider1.jpg" />
          <span class="card-title"><a href="/general/3" class="left-align" style="color:white;">Web Development</a></span>
        </div>
        <div class="card-content">
          <p>
            Web development broadly refers to the tasks associated with developing websites for hosting via intranet or internet. 
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card small">
        <div class="card-image">
          <img src="../../../static/img/computer theory.jpg" />
          <span class="card-title"><a href="/general/4" class="left-align" style="color:white;">Computer Theory</a></span>
        </div>
        <div class="card-content">
          <p>
            Theoretical computer science and mathematics, 
            the theory of computation is the branch that deals with how solved on a model of computation.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
            
<footer id="about" class="black page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text"><i class="small material-icons" style="vertical-align: middle;">chevron_left</i>About the Website<i class="small material-icons" style="vertical-align: middle;">chevron_right</i></h5>
        <p class="grey-text text-lighten-4">
          We are freshman students in INIAD working on our Final Project. 
          Any comment would help support and continue development on this project.
          どうもありがとうございます。
        </p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text"><i class="small material-icons" style="vertical-align: middle;">chevron_left</i>Contacts<i class="small material-icons" style="vertical-align: middle;">chevron_right</i></h5>
        <ul>
          <li><b>Hubert</b>: <a class="white-text" href="#!">s1f101800069@iniad.org</a></li>
          <li><b>Anh</b>: <a class="white-text" href="#!">s1f101800070@iniad.org</a></li>
          <li><b>Xiuyao</b>: <a class="white-text" href="#!">s1f101800104@iniad.org</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by
      <a class="orange-text text-lighten-3" href="http://iniad.org"
        >Anh, Xiu Yao, Hubert</a>
    </div>
  </div>
</footer>
    <!--script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });

        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems, options);
        });
  // Or with jQuery
        $(document).ready(function(){
            $('.collapsible').collapsible();
        });
        (function($) {
            $(function() {
                $(".sidenav").sidenav();
    //Init Slider

                $(".slider").slider({
                fullWidth: true,
                indicators: false,
                height: 500
                });
    //Init Scrollspy
                $(".scrollspy").scrollSpy({});
            }); // end of document ready
        })(jQuery); // end of jQuery name space
    </script>
</body>

</html>