<!DOCTYPE html>
<html lang="en" style="
margin-top: 20px;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 20px;
">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Admin Database</title>
</head>
<body>
    <a href="{% url 'admindb' %}"><button>Back</button></a>
    <h1>Database at a Glance</h1>
    <h3>Courses</h3>
    <table class="w3-table-all">
        <tr class="w3-red">
            <th>ID</th>
            <th>Title</th>
        </tr>
        {% for c in courses %}
        <tr>
            <td>{{c.id}}</td>
            <td>{{c.title}}</td>
        </tr>
        {% endfor %}
    </table>
    <h3>Lessons</h3>
    <table class="w3-table-all">
        <tr class="w3-orange">
            <th width="10%">ID</th>
            <th width="15%">Title</th>
            <th width="60%">Content</th>
            <th>Course ID</th>
        </tr>
        {% for l in lessons %}
        <tr>
                <td>{{l.id}}</td>
                <td>{{l.title}}</td>
                <td>{{l.content}}</td>
                <td>{{l.course_id}}</td>
        </tr>
        {% endfor %}
    </table>
    <h3>Exercises</h3>
    <table class="w3-table-all">
        <tr class="w3-green">
            <th>ID</th>
            <th width="10%">Title</th>
            <th width="50%">Problem</th>
            <th width="20%">Solution</th>
            <th>Course ID</th>
            <th>Lesson ID</th>
        </tr>
        {% for e in exercises %}
        <tr>
            <td>{{e.id}}</td>
            <td>{{e.title}}</td>
            <td>{{e.problem}}</td>
            <td>{{e.solution}}</td>
            <td>{{e.course_id}}</td>
            <td>{{e.lesson_id}}</td>
        </tr>
        {% endfor %}
    </table>
    <h3>References</h3>
    <table class="w3-table-all">
        <tr class="w3-blue">
            <th>ID</th>
            <th>Title</th>
            <th>Link</th>
            <th>Course ID</th>
            <th>Lesson ID</th>
        </tr>
        {% for r in references %}
        <tr>
            <td>{{r.id}}</td>
            <td>{{r.title}}</td>
            <td>{{r.link}}</td>
            <td>{{r.course_id}}</td>
            <td>{{r.lesson_id}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>